<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 4 years of experience as a software developer, and have worked
            at both small startups and large organizations. 
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on collaborative
           team leadership responsibilites, and gain experience with development,
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Summary</h3>
		    <ul>
    			<li>
            Performed analysis, design and development of the application using .NET Technologies, according to the user requirements. 
    			</li>
			    <li>
	    Experience of working on Microsoft .NET Framework, ASP.NET, ASP.NET MVC, C#, SQL Server and development, consuming and manipulating data using ADO.NET, LINQ and Entity Framework.
			    </li>
          <li>
            Used JavaScript, jQuery and AJAX to develop dynamic web applications for enhanced user experience. 
          </li>
			    <li>
            Experience in using GIT, TFS and SVN for Version Control.
			    </li>
    			<li>
            Worked on Scaffolding Templates, Custom Html Helpers, Razor View Engine and Action Filters on ASP.NET MVC applications. 
    			</li>
    			<li>
            Ability to plan and implement all the different stages of Software Development Life Cycle including System Analysis, User Requirements Determination, Data modeling, Coding, Implementation and Testing.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
