<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <hr />
            </div>
        </div>
            <div class="row">    
		    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				<b>Miles - Workflow (Moneyware Data Migration Portal)</b>: The project involves creating BPMN workflow diagrams and execute the workflows and decesions from a remote application.</br>
			  <b>Responsibilities</b> : </br>
		    * Developed web-applications using C#, ASP.NET MVC, Web-API, Camunda(BPM) and JQuery.</br>
	    * Writing SQL business queries, procedures,scripts.

    		</li></br>
  			<li>
				<b>PHDC - Mobile Electronic Data Collection</b>: The project involves end to end implementation of web portal which will help client to register through online portal, for the servicesrelated to housing development.</br>
<b>Responsibilities</b> : </br>
* Developed API's for Mobile and Web Portal using .NET Web API.
  			</li></br>
<li>
				<b>Shipsurance Insurance Services</b>: Shipsurance, an Assurant Company, is a private shipping insurance provider. The projects involved end to end implementation of web portal using .NET MVC.</br>
<b>Responsibilities</b> : </br>
* Developed web-application using C#, ASP.NET MVC,AJAX and JQuery.</br>
* Used LINQ for Entity Framework querying.
  			</li></br>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Diploma in .NET Technologies 4.0 
  			</li>
  			<li>
  			  Something more.....
  			</li>
		   </ul>
      </div>
 <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. I'm working through several online classes, and swap articles with colleagues.
			  </li>
			  <li>
				  Computer Gaming
			  </li>
			  <li>
				  <b>Trekking</b>.
      </li>
			</ul>
		</div>
    
    </div>
  </div>
</section>
